.product {
  display: grid;
  grid-template-areas:
    'label'
    'image'
    'description'
    'status';
  grid-gap: 16px;
  &:not(:last-of-type) {
    margin-bottom: rem(16px);
    padding-bottom: rem(16px);
    border-bottom: solid 1px $PM-black;
  }
  &__label {
    grid-area: label;
  }
  &__description {
    grid-area: description;
  }
  &__name {
    display: block;
    font-size: rem(20px);
  }
  &__price {
    display: block;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__status {
    grid-area: status;
  }
}
